@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* This comes instead of older version: darkMode: "class" */
/* Makes dark white theme Class based Theme mode not System based */
/* Enables manual theme toggling */

/* by default theme variables */

/* @theme brings tailwind utilities */
/*This helps to write tailwind variables as utilities; Tailwind classes reference CSS variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

/* if browser supports dark mode and detects "dark" then overwrite the theme variables */

/* body pics up the theme variable in Cascade hierarchy */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --quill-active-button-color: rgb(2, 171, 2);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --quill-active-button-color: rgb(2, 171, 2);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* QUILL RICH EDITOR */
.quill .ql-toolbar .ql-formats button svg .ql-stroke {
  color: white !important;
  stroke: white !important;
}

/* innactive */
.quill .ql-toolbar .ql-formats button:hover {
  opacity: 0.5;
}

/* active */
.quill .ql-toolbar .ql-formats .ql-active {
  color: var(--color-gray-400) !important;
  stroke: 1px solid var(--color-gray-400) !important;
  /* background: var( --color-gray-400); */
  border: 1px solid var(--color-gray-400);
}
.quill .ql-toolbar .ql-formats .ql-bold .ql-active {
  color: var(--color-gray-400) !important;
  stroke: 1px solid var(--color-gray-400) !important;
  /* background: var( --color-gray-400); */
  border: 1px solid var(--color-gray-400);
}

.ql-picker-label {
  color: white !important;
  stroke: white !important;
}
.ql-picker-label svg .ql-picker-options {
  color: white !important;
  stroke: white !important;
}
.ql-picker-label:hover {
  opacity: 0.5;
}

/* 
 */

/* QUILL EDITOR and HTML text styles */

.quill {
  background-color: var(--color-gray-800) !important;
  max-height: 240.84px !important;
  height: 240.84px;
}
.quill .ql-container p,
.html-content p {
  font-size: 14px;
  line-height: 22px;
}

.quill .ql-container h1,
.html-content h1 {
  font-size: 26px;
  line-height: 24px;
  font-weight: 400;
}
.quill .ql-container h2,
.html-content h2 {
  font-size: 19.5px;
  line-height: 22px;
  font-weight: 400;
}
.quill .ql-container h3,
.html-content h3 {
  font-size: 15.21px;
  line-height: 24px;
  font-weight: 400;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: var(--baseline-400) !important;
  font-style: normal !important;
}
.quill data-placeholder {
  color: var(--baseline-800) !important;
}
.ql-container.ql-snow {
  border: none !important;
}

.ql-editor {
  min-height: 180px !important;
  overflow-y: auto;
  padding-bottom: 1rem; /* Add space for readability */
  overflow-y: auto; /* Add vertical scrolling if content is too long */
  /* padding-top: 62px !important; */
  border: solid 1px rgb(209 213 219 / var(--tw-text-opacity, 1));
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.html-content a {
  text-decoration: underline;
  color: var(--primary-400);
}

.html-content ul {
  font-size: 13px;
  list-style-type: disc; /* Ensure bullets appear */
  margin-left: 40px !important; /* Add indentation */
}

.html-content ol {
  font-size: 13px;
  list-style-type: decimal; /* Ensure numbers appear */
  margin-left: 40px !important;
}

.html-content li {
  margin-bottom: 5px; /* Optional: Add spacing */
}

/* .ql-tooltip {
  left: 5px !important;
} */
